/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Pantallas 4K*/
header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  /* position: relative; */
}

.logo-header {
	width: 22rem;
	height: auto;
	filter: drop-shadow(0px 0px 20px white);
	border-radius: 29px;
	border-radius: 50%;
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Pantallas Grandes */
@media (max-width: 2559px) and (min-width: 1440px) {
  .logo-header {
    width: 15rem;
  }
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Laptops */
@media (max-width: 1439px) and (min-width: 1024px) {
	header {
    width: 100%;
    padding: 0 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .logo-header {
    width: 14rem;
  }
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Tablets */
@media (max-width: 1023px) and (min-width: 768px) {
  header {
    padding: 0 2.5rem 1rem 1rem;
    width: 100%
  }
  .logo-header {
    width: 12rem;
  }

  .header-h2 {
    text-align: center;
    font-size: 2rem;
  }
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Móviles */
@media (max-width: 767px) {
  header {
    flex-direction: column-reverse;
    padding: 1rem;
  }
  .logo-header {
    width: 10rem;
  }

  .header-h2 {
    text-align: center;
    font-size: 1.6rem;
  }
}