/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Pantallas 4K*/
.main-selected-project {
	width: 60%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0;
	border-radius: 10px;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	box-shadow: 0 0 15px 3px var(--black);
	overflow: hidden;
}

.selected-project-title-container {
	background: linear-gradient(90deg, black 5%, transparent 20% 80%, black 95%);
	padding: 2.5rem 3rem 3rem 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 1rem;
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.selected-project-title-container > h3 {
	animation: text-shadow 2s infinite;
}

.selected-project-description {
	border-bottom: solid 1px var(--black);
	padding: 2rem 3rem;
	text-align: left;
	width: 100%;
	color: var(--lightgray);
}

.selected-project-items {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background: rgba(0, 0, 0, 0.3);
	padding: 3rem 0;
}

.selected-project-item-div {
	width: 16rem;
	height: 16rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0rem;
	padding: 3rem 5rem;
	border-radius: 300px;
	background: rgba(0, 0, 0, 0.3);
	text-decoration: none;
}

.selected-project-icon {
	width: 5rem;
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Pantallas Grandes */
@media (max-width: 2559px) and (min-width: 1440px) {
	.main-selected-project {
		width: 65%;
		height: auto;
	}

	.selected-project-title-container {
		padding: 1.5rem 2rem;
		gap: 0.5rem;
	}

	
	.selected-project-description {
		border-bottom: solid 1px var(--black);
		padding: 1rem 2rem;
		text-align: left;
		width: 100%;
		color: var(--lightgray);
	}

	.selected-project-items {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		background: rgba(0, 0, 0, 0.3);
		padding: 2rem 0;
	}

	.selected-project-item-div {
		width: 10rem;
		height: 10rem;
		gap: 0;
		padding: 2rem 1rem 1rem 1rem;
	}

	.selected-project-icon {
		width: 3rem;
	}
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Laptops */
@media (max-width: 1439px) and (min-width: 1024px) {
	.main-selected-project {
		width: 70%;
		height: auto;
	}

	.selected-project-title-container {
		padding: 1rem 2rem;
		gap: 0.5rem;
	}

	.selected-project-description {
		padding: 0rem 2rem;
	}

	.selected-project-items {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		background: rgba(0, 0, 0, 0.3);
		padding: 1rem 0;
	}

	.selected-project-item-div {
		width: 9rem;
		height: 9rem;
		gap: 0;
		padding: 3rem 2rem 2rem 2rem;
	}

	.selected-project-icon {
		width: 3rem;
	}
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Tablets */
@media (max-width: 1023px) and (min-width: 768px) {
	.main-selected-project {
		width: 95%;
		height: auto;
		border-radius: 5px;
	}

	.selected-project-title-container {
		padding: 1rem 2rem;
		gap: 0.5rem;
	}

   .selected-project-description {
      padding: .5rem 2rem;
   }

	.selected-project-items {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		background: rgba(0, 0, 0, 0.3);
		padding: 1rem 0;
	}

	.selected-project-item-div {
		width: 9rem;
		height: 9rem;
		gap: 0;
		padding: 3rem 2rem 2rem 2rem;
	}

	.selected-project-icon {
		width: 3rem;
	}
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Móviles */
@media (max-width: 767px) {
	.main-selected-project {
		width: 95%;
		height: auto;
	}

	.selected-project-title-container {
		padding: 1rem 2rem 1.2rem 2rem;
		gap: 0.5rem;
		align-items: center;
	}

	.selected-project-description {
		padding: 1rem 2rem;
		text-align: center;
	}

	.selected-project-items {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		background: rgba(0, 0, 0, 0.3);
		padding: 2rem;
		gap: 1rem;
	}

	.selected-project-item-div {
		width: 8rem;
		height: 8rem;
		gap: 0;
		padding: 3rem 2rem 2rem 2rem;
	}

	.selected-project-icon {
		width: 2.5rem;
	}
}
