/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Pantallas 4K*/
.navbar-container-home {
  padding-bottom: 7rem;
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Pantallas Grandes */
@media (max-width: 2559px) and (min-width: 1440px) {
	.navbar-container-home {
    padding-bottom: 5rem;
  }
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Laptops */
@media (max-width: 1439px) and (min-width: 1024px) {
	.navbar-container-home {
    padding-bottom: 5rem;
  }
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Tablets */
@media (max-width: 1023px) and (min-width: 768px) {
	.navbar-container-home {
    padding-bottom: 3rem;
  }
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Móviles */
@media (max-width: 767px) {
	.navbar-container-home {
    padding-bottom: 2rem;
  }
}
